@{
    ViewData["Title"] = "BetaFeature Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>BetaFeature of the WebApp with ASP.NET Core</p>
    <p>Beta Version is currently @ViewData["Message"]</p>
</div>
